In [1]:
import re

In [2]:
pattern = re.compile('[A-Z]')

In [3]:
str(re.findall('^[A-Z]$', 'Australia'))

'[]'

In [4]:
import flair

Better speed can be achieved with apex installed from https://www.github.com/nvidia/apex.

In [5]:
from flair.models import TextClassifier
from flair.data import Sentence

In [6]:
classifier = TextClassifier.load('en-sentiment')

2019-03-07 10:36:42,082 loading file C:\Users\mjazeel\.flair\models\imdb.pt

C:\Users\mjazeel\AppData\Local\Continuum\anaconda3\lib\site-packages\torch\serialization.py:542: DeprecationWarning: Call to deprecated class DocumentLSTMEmbeddings. (The functionality of this class is moved to 'DocumentRNNEmbeddings') -- Deprecated since version 0.4.
  result = unpickler.load()

In [39]:
sentence = Sentence("Character in this movie has no depth to them.")

In [45]:
classifier.predict(sentence)
sentiment.append((sentence.to_original_text, 'has' + str(sentence.labels) + 'sentiment.'))

In [41]:
sentiment = []

In [46]:
sentiment

[([Token: 1 Character,
   Token: 2 in,
   Token: 3 this,
   Token: 4 movie,
   Token: 5 has,
   Token: 6 no,
   Token: 7 depth,
   Token: 8 to,
   Token: 9 them.],
  'has[NEGATIVE (0.15915389358997345)]sentiment.'),
 (<bound method Sentence.to_original_text of Sentence: "Character in this movie has no depth to them." - 9 Tokens>,
  'has[NEGATIVE (0.15915389358997345)]sentiment.')]

In [47]:
import pandas as pd

In [48]:
df = pd.DataFrame()

In [ ]:
df.dropna()

In [1]:
from flair.models import TextClassifier
from flair.data import Sentence

In [3]:
import pandas as pd

In [7]:
import re

In [4]:
data = pd.read_csv('C:\\AADeloitte\\learning\\Boom\\Python Practise files\\Python\\Sentiment Analysis\\train.csv')

In [5]:
data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [35]:
cleaned = pd.DataFrame([re.sub(pattern=r'(@\w+\s?)|[^A-za-z]', repl=' ',string=x).strip() for x in data['tweet'][:10]])

In [36]:
cleaned['original'] = data['tweet'][:10]

In [37]:
cleaned.head()

,0,original
0,when a father is dysfunctional and is so selfi...,@user when a father is dysfunctional and is s...
1,thanks for lyft credit i can t use cause they...,@user @user thanks for #lyft credit i can't us...
2,bihday your majesty,bihday your majesty
3,model i love u take with u all the time in ur,#model i love u take with u all the time in ...
4,factsguide society now motivation,factsguide: society now #motivation

In [41]:
cleaned.rename(columns={0: 'Cleansed',
                       'original': 'Original'}, inplace=True)

In [42]:
cleaned.head(2)

,Cleansed,Original
0,when a father is dysfunctional and is so selfi...,@user when a father is dysfunctional and is s...
1,thanks for lyft credit i can t use cause they...,@user @user thanks for #lyft credit i can't us...

In [38]:
clf = TextClassifier.load('en-sentiment')

2019-04-07 16:39:38,794 loading file C:\Users\mjazeel\.flair\models\imdb.pt

C:\Users\mjazeel\AppData\Local\Continuum\anaconda3\lib\site-packages\torch\serialization.py:542: DeprecationWarning: Call to deprecated class DocumentLSTMEmbeddings. (The functionality of this class is moved to 'DocumentRNNEmbeddings') -- Deprecated since version 0.4.
  result = unpickler.load()

In [53]:
def extract_sentiment(x):
    # creating a sentence class for prediction
    
    sentence = Sentence(x)
    
    # predicting
    clf.predict(sentence)
    
    return sentence.labels[0]

In [51]:
from nltk.tokenize import word_tokenize

In [54]:
cleaned['Sentiment'] = cleaned['Cleansed'].apply(lambda x: extract_sentiment(x))

In [55]:
cleaned.head()

,Cleansed,Original,Sentiment
0,when a father is dysfunctional and is so selfi...,@user when a father is dysfunctional and is s...,NEGATIVE (1.0)
1,thanks for lyft credit i can t use cause they...,@user @user thanks for #lyft credit i can't us...,NEGATIVE (0.22634266316890717)
2,bihday your majesty,bihday your majesty,POSITIVE (0.9170576333999634)
3,model i love u take with u all the time in ur,#model i love u take with u all the time in ...,POSITIVE (1.0)
4,factsguide society now motivation,factsguide: society now #motivation,NEGATIVE (1.0)

In [58]:
cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Cleansed     10 non-null object
Original     10 non-null object
Sentiment    10 non-null object
dtypes: object(3)
memory usage: 320.0+ bytes

In [62]:
cleaned['Sentiment'] = cleaned['Sentiment'].map(lambda x: str(x))

In [69]:
score = [re.findall(pattern=r'[\d.]+', string=x) for x in cleaned['Sentiment']]

In [71]:
cleaned['score'] = score

In [72]:
cleaned.head()

,Cleansed,Original,Sentiment,score
0,when a father is dysfunctional and is so selfi...,@user when a father is dysfunctional and is s...,NEGATIVE (1.0),[1.0]
1,thanks for lyft credit i can t use cause they...,@user @user thanks for #lyft credit i can't us...,NEGATIVE (0.22634266316890717),[0.22634266316890717]
2,bihday your majesty,bihday your majesty,POSITIVE (0.9170576333999634),[0.9170576333999634]
3,model i love u take with u all the time in ur,#model i love u take with u all the time in ...,POSITIVE (1.0),[1.0]
4,factsguide society now motivation,factsguide: society now #motivation,NEGATIVE (1.0),[1.0]

In [73]:
cleaned.to_excel('C:\\Users\\mjazeel\\Documents\\2019\\April\\7\\Sentiment.xlsx', index=False)